.content {
  border: 1px solid silver;
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.items {
  position: absolute;
  border: 1px solid silver;
  box-shadow: 0px 7px 10px rgb(0 0 0 / 30%);
  width: 120px;
  padding: 5px;
  top: 86px;
  left: 16px;
  border-radius: 5px;
}
.item.selected {
  background-color: silver;
}
/*.element:hover{*/
/*  background-color: silver;*/
/*  padding: 2px;*/
/*  border-radius: 3px;*/
/*  text-align: center;*/
/*}*/
